extends layout

block content
    h2= title
    ul
        -   for(var b in bandsList)
            li
                a(href='/bands/'+bandsList[b].bid)=bandsList[b].name
                &nbsp;
                a(href='/edit/'+bandsList[b].bid) edit
                &nbsp;
                a(href='/del/'+bandsList[b].bid) delete