extends layout

block content
    h2= title
    ul
        -   for(var b in bandsList)
            li
                a(href='/bands/'+bandsList[b])=bandsList[b]
                &nbsp;
                a(href='/edit/'+bandsList[b]) edit
                &nbsp;
                a(href='/del/'+bandsList[b]) delete