extends ../layout

block content
    h2= title
    ul
        -   for(var b in bandsList)
            li
                a(href='/bands/'+bandsList[b].bid)=bandsList[b].name
                &nbsp;
                a(href='/bands/edit/'+bandsList[b].bid) edit
                &nbsp;
                a(href='/bands/del/'+bandsList[b].bid) delete
    a(href='/bands/add') Add group