extends ../layout

block content
    div
        form(method='POST') Delete group?
            input(type="hidden" name='_method' value='delete' action='?name='+name)
            input(type="hidden" name='bid' value=band.bid)
            br
            div #{band.name}?
            br
            input(type='submit')
    a(href='/bands/') Back