extends ../layout

block content
    div
        form(method='POST' action='/bands/edit/')
            input(type='hidden' name='_method' value='put')
            input(type='hidden' name='bid' value=band.bid)
            br
            b Name
            br
            input(type='text' name='name' value=band.name)
            br
            b Country
            br
            input(type='text' name='state' value=band.state)
            br
            b Members
            br
            textarea(name='members')=members
            br
            input(type='submit')
    a(href='/bands/') Back